@media screen and (min-width: 425px) {
    .row {
        padding: 0 20px;
    }
    .home {
        &__content {
            .home__content-main {
                p {
                    font-size: 5vw;
                    letter-spacing: normal;
                    line-height: 7.5vw;
                }
                h1 {
                    margin: 29px 0px 85px;
                    font-size: 10.8vw;
                    // line-height: 12vw;
                    span {
                        letter-spacing: 0.8px;
                    }
                }
                
            }
            .home__content-second {
                margin-top: 20vw;
                margin-bottom: 20vw;
                .title {
                    font-size: 8vw;

                }
                .home__content-second-wrapper {
                .p {
                       font-size: 5.5vw;
                       line-height: 7.5vw;
                }
                .home__accordion {
                    .accordion {
                        margin-top: 2vw;
                    }
                    .accordion h3 {
                        font-size: 20px;
                        font-weight: 900;
                    }
                }
                .panel {
                    .p {
                        font-size: 3vw;
                        line-height: 40px;
                        margin-top: 2vw;
                        margin-bottom: 5vw;
                    }
                }
            }
            
     }
    }
    }
    .work {
        &__content {
            .work__examples {
                .work__examples-block {
                    & h3, p {
                        line-height: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 766px) {
    .row {
        padding: 0 30px;
    }
    .header {
        &__content {
            .header__menu { 
                width: 338px;
                height: 303px;
                // top: -25px;
                // right: -61px;
                position: absolute;
                background-color: #2ba5e5;
                padding: 0;
                padding-left: 21px;
                padding-top: 19px;
                left: 50%; top: -425%;  transform: translate(13%, 0%);
                & li {
                    margin: 0;
                }
            }
            .header__menu.active {
                top: 0;
                box-shadow: 0 27px 53px 0 rgba(1, 93, 140, 0.24);
                transform: translate(13%, 4%);
            }
            .header__list-bottom .bottom {
                opacity: 0;
                transform: translate(290px, 50px);
            }
            .header__list-bottom .bottom.active {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &__logo {
            flex: 0 0 90px;
        }
        &__body {
            height: 72px;

        }
    }
    .home {
        &__content {
            .home__content-main {
                p {
                    letter-spacing: .2px;
                    line-height: 6vw;
                    font-size: 3vw;
                }
                h1 {
                    margin: 31px 0px 92px;
                    font-size: 9.8vw;
                    // line-height: 11vw;
                    letter-spacing: 0vw;
                }
                
            }
            .home__content-second {
                margin-top: 20vw;
                margin-bottom: 20vw;
                .title {
                    font-size: 6vw;
                }
                .home__content-second-wrapper { 
                    .p {
                       font-size: 3vw;
                       line-height: 7.5vw;
                    }
                       .home__accordion {
                        .accordion {
                            margin-top: 2vw;
                        }
                        .accordion h3 {
                            font-size: 24px;
                            font-weight: 900;
                        }
                     }
                     .panel {
                        .p {
                            font-size: 2vw;
                            line-height: 3.5vw;
                        }
                    }
                }
            }
        }
    }
    .work {
        &__content {
            .work__content-title {
                h2 {
                    font-size: 6vw;
                    line-height: 100%;
                    font-weight: 900;
                }
            }
            .work__examples {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                .work__examples-block {
                    width: 48%;
                    & h3, p {
                        font-size: 3vw;
                        line-height: 100%;
                    }
                }
            }
        }
    }

    .process {
        &__content {
            .title {
                font-size: 72px;
                margin-top: 100px;
                margin-bottom: 100px;
                letter-spacing: -.3px;
            
            }
            .process__main {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .process__main-block {
                    width: 47%;
                    margin-bottom: 50px;
                    & img {
                        width: 50px;
                        height: 50px;
                    }
                    & strong {
                        font-size: 24px;
                        font-weight: 700;
                    }
                    p {
                        font-size: 3vw;
                        line-height: 6vw;
                        text-align: left;
                    }
                }
            }
        }
    }
}
// @media screen and (min-width: 800px) {
//     .header {
//         &__content {
//             .header__menu { 
//                 left: 50%; top: -425%;  transform: translate(13%, 0%);
//             }
//             .header__menu.active {
//                 box-shadow: 0 27px 53px 0 rgba(1, 93, 140, 0.24);
//                 transform: translate(15%, 4%);
//             }
//         }
//     }
// }
@media screen and (min-width: 1000px) {
    .row {
        padding: 0 40px;
    }
    .header {
        &__logo {
            flex: 0 0 150px;
        }
        &__body {
            height: 80px;

        }
    }
    .home {
        &__content {
            .home__content-main {
                p {
                    letter-spacing: .2px;
                    line-height: 160%;
                    font-size: 20px;
                }
                h1 {
                    margin: 50px 0px 100px;
                    font-size: 72px;
                    line-height: 100%;
                    span {
                        font-size: 72px;
                        letter-spacing: -4px;
                    }
                }
            }
            .home__content-second {
                margin-top: 100px;
                margin-bottom: 100px; 
                .home__content-second-wrapper { 
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    .p {
                        width: 450px;
                        font-size: 20px;
                        line-height: 160%;
                       }
                       .home__accordion {
                        margin-top: 0;
                        width: 450px;
                        .accordion {
                            width: 100%;
                            margin-top: 0px;
                            margin-bottom: 20px;
                            cursor: pointer;
                            h3 {
                                font-size: 24px;
                                font-weight: 700;
                            }
                        }
                    }
                }
                .title {
                    font-size: 48px;
                    margin-bottom: 50px;
                }
                
            }
        }
    }
    .work {
        &__content {
            .work__content-title {
                h2 {
                    font-size: 48px;
                    line-height: 120%;
                    font-weight: 900;
                }
            }
            .work__examples {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                .work__examples-block {
                    width: 48%;
                    & h3, p {
                        font-size: 20px;
                        line-height: 100%;
                    }
                }
            }
        }
    }
    .home__content .home__content-main .trailer .close {
        position: relative;
        top: -360px;
        right: -30px;
        cursor: pointer;
        max-width: 32px;
        transition: all .25s ease-in-out;
    }
    .process {
        &__content {
            .title {
                line-height: 6vw;
            }
        }
    }
}

