@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'normalize';
@import "global";



.header {
    font-family:  Lato, sans-serif;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0; left: 0; z-index: 31;
    &:before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        background-color: transparent;
        z-index: 2;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0; left: 0; width: 100%; height: 100%;
        opacity: 0;
        overflow: hidden;
        background-color: #2ba5e5;
        padding: 142px 0px 70px 0px;
        z-index: 2;
        & li {
            margin: 0 0 0 20px;
        }
        & li, a {
            font-family: 'Graphic-web', Helvetica, sans-serif;
        }
        transition: all .25s ease-in-out;
    }
    .header__menu.active {
        // position: relative;
        z-index: 21;
        overflow: visible;
        opacity: 1;
        transition: all .25s ease-in-out;
    }
    &__burger {
        z-index: 22;
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        transition: all .25s ease-in-out;
        cursor: pointer;
    }
    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: #000;
        position: absolute;
        width: 20px;
        height: 2px;
        left: 0;
        transition: all .25s ease-in-out;
    }
    .header__burger:before {
        top: 6px;
    }
    .header__burger:after {
        bottom: 6px;
    }
    .header__burger.active:before,
    .header__burger.active:after {
        
        background-color: #fff;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    &__logo {
        flex: 0 0 80px;
        z-index: 3;
        img {
            max-width: 100%; 
        }
    }
    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
    }
    &__list {
        display: block;
        position: relative;
        z-index: 2;
        transition: 670ms opacity cubic-bezier(0.165, 0.84, 0.44, 1) 33ms, 670ms transform cubic-bezier(0.165, 0.84, 0.44, 1) 33ms;
        li {
            padding: 12px 32px 16px 25px;
            display: block;
        }
        .top {
            
            transition: 670ms opacity cubic-bezier(0.165, 0.84, 0.44, 1) 33ms, 670ms transform cubic-bezier(0.165, 0.84, 0.44, 1) 33ms; 
        }
    }
    .header__link {
        display: block;
        color: #fff;
        font-size: 28px; 
    }
    .header__list .top {
        opacity: 0;
        transform: translateY(-50px);
    }
    .header__list .top.active {
        opacity: 1;
        transform: translateY(0);
    }
    &__list-bottom {
        .bottom {
            font-family: 'Graphic-web', Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            color: #fff;
        }
        li {
            padding: 12px 32px 16px 25px;
        }
    }
    .header__list-bottom .bottom {
        transition: 670ms opacity cubic-bezier(0.165, 0.84, 0.44, 1) 33ms, 670ms transform cubic-bezier(0.165, 0.84, 0.44, 1) 33ms;
        opacity: 0;
        transform: translateY(50px);
    }
    .header__list-bottom .bottom.active {
        opacity: 1;
        transform: translateY(0);
    }
}

// End of header section

body.bg {
    overflow: hidden;
    position: relative;
    // z-index: 100;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.8);
    }
}
.home.active,   .work.active, .process.active {
    position: relative;
    z-index: 4;
}
.home {
    margin-top: 128px;   
    position: relative;
    z-index: 30;
    &__content {
        .home__content-main {
            p {
                font-size: 16px;//5vw
            }
            h1 {
                font-size: 35px;
                margin: 22px 0px 64px;
                font-weight: 300;
                line-height: 10vw;
                letter-spacing: -.4vw;
                font-family: Lato, sans-serif;
                
                span {
                    font-weight: 900;
                    font-size: 8.8vw;
                    letter-spacing: .8px;
                    font-family: Lato, sans-serif;
                }
            }
            .banner {
                position: relative;
                width: 100%;
                min-height: 10vh;
                .content {
                    min-width: 280px;
                    .video {
                        max-width: 100%;
                        border-radius: 10px;
                    }
                    .video__button {
                        position: absolute;
                        left: 50%; top: 50%;  transform: translate(-50%, -50%);
                    }
                    .video__button img {
                        width: 40vw;   
                    }
                }
            }
            .trailer {
                position: fixed;
                top:50%;
                left: 49%;
                transform: translate(-49%, -50%);
                z-index: 10;
                display: flex; justify-content: center; align-items: center;
                visibility: hidden;
                opacity: 0;
                transition: all .25s ease-in-out;
                & video {
                    position: relative;
                    left: 14px;
                    max-width: 88vw;
                    outline: none;
                    transition: all .25s ease-in-out;
                }
                .close {
                    position: relative;
                    top: -300px;
                    right: 10px;
                    cursor: pointer;
                    max-width: 32px;
                    transition: all .25s ease-in-out;
                }
            }
            .trailer.active {
                visibility: visible;
                opacity: 1;
                transition: all .25s ease-in-out;
            }
        }
        .home__content-second {
            margin: 64px 0;
            .title {
                font-size: 26px;
                margin: 0 0 38px;
            }
            .p {
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 22px;
            }
            .home__accordion {
                margin: 32px 0px 0px;
                .accordion {
                    background-color: transparent;
                    color: #444;
                    cursor: pointer;
                    width: 50vw;
                    text-align: left;
                    border: none;
                    outline: none;
                    transition: 0.4s;
                    position: relative;
                    margin-top: 16px;
                    &:after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        background-image: url("./../img/accordion-arrow.svg");
                        background-size: 90%;
                        background-repeat: no-repeat;
                        opacity: .3;
                        top: 1px;
                        right: 0;
                    }
                    h3 {
                        font-size: 16px;
                        font-family: Lato,sans-serif;
                        font-weight: 900;
                        letter-spacing: -.7px;
                        cursor: pointer;
                    }
                }
                .first:after {
                    position: absolute;
                    left: 83%; top: 60%;  transform: translate(-50%, -50%);
                }
                .second:after {
                    right: 100px;
                }
                .third:after {
                    right: 115px;
                }
                .fourth:after {
                    right: 160px;
                }
                .panel {
                    .p { padding: 16px 0 32px;} 
                    background-color: white;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
            }
        }
    }
    .home__line {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
}

.work {
    position: relative;
    z-index: 30;
    &__line {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }
    margin: 64px 0px 48px;
    &__content {
        .work__content-title {
            h2 {
                font-size: 26px;
                margin: 0 0 38px;
            }
        }
        .work__examples {
            .work__examples-block {
                margin: 0px 0px 32px;
                & img {
                    display: block;
                    border-radius: 7px;
                    margin: 0px 0px 22px;
                    transform: scale3d(1,1,1);
                    transform-style: preserve-3d;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        transform: scale3d(1.02,1.02,1);
                        transform-style: preserve-3d;
                    }
                }
                & h3 {
                    font-size: 16px;
                    margin: 0px 3.2px 0 0;
                    line-height: 30px;
                    font-weight: 900;
                    letter-spacing: -0.2px;
                    font-family: Lato, sans-serif;
                    cursor: pointer;
                }
                & p {
                    font-size: 16px;
                    margin: 6.4px 0px 0px;
                    color: #999;
                }
            }
        }
    }
}
.process {
    position: relative;
    z-index: 30;
    margin-top: 48px;
    margin-bottom: 64px;
    &__content {
        .process__main {
            .process__main-block {
                margin-top: 38px;
                & img {
                    width: 32px;
                    height: 32px;
                }
                & strong {
                    display: block;
                    margin: 22px 0px 6.4px;
                }
                p {
                    font-size: 16px;
                    letter-spacing: 0px;
                    line-height: 22px;
                }
            }
        }
    }
}

@import "media";